# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfstate.backup
.terraform.lock.hcl
.env
.terraform/

# Crash logs
crash.log

# Sensitive files
*.pem
*.key

# OS
.DS_Store
Thumbs.db