name: Deploy VM and run Jenkins&SonarQube

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Decode GCP service account key
      run: |
       echo "${{ secrets.GCP_SA_KEY }}" | base64 --decode > $HOME/gcp-key.json
    
    - name: Set environment variable for Terraform
      run: | 
        echo "GOOGLE_APPLICATION_CREDENTIALS=$HOME/gcp-key.json" >> $GITHUB_ENV

    - name: Terraform Init
      run: terraform init
      working-directory: .
    
    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: .
    - name: Sleep for 30 seconds
      run: sleep 90