name: Deploy VM and run Jenkins&SonarQube

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3

    #- name: Authenticate to GCP
     # run: |
      # echo "${{ secrets.GCP_KEY_B64 }}" | base64 --decode > $HOME/gcp-key.json
       # gcloud auth activate-service-account --key-file=$HOME/gcp-key.json
        #gcloud config set project gcp-cicd
        #echo "GOOGLE_APPLICATION_CREDENTIALS=$HOME/gcp-key.json" >> $GITHUB_ENV


    - name: Decode GCP service account key
      run: |
       echo "${{ secrets.GCP_SA_KEY }}" | base64 --decode > $HOME/gcp-key.json
    
    - name: Set environment variable for Terraform
      run: |
        echo "GOOGLE_APPLICATION_CREDENTIALS=$HOME/gcp-key.json" >> $GITHUB_ENV

    - name: Terraform Init
      run: terraform init
      working-directory: .
    
    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: .
    - name: Sleep for 30 seconds
      run: sleep 90


    #- name: Capture Terraform Outputs
     # id: tf_outputs
      #run: |
      #  echo "VM_NAME=$(terraform output -raw vm_name)" >> $GITHUB_ENV
      #  echo "VM_ZONE=$(terraform output -raw vm_zone)" >> $GITHUB_ENV
      # echo "VM_IP=$(terraform output -raw vm_ip)" >> $GITHUB_ENV
      # working-directory: .
    
    # - name: Wait for VM to be ready
    #   run: |
    #     until gcloud compute ssh $VM_NAME --zone=$VM_ZONE --command "echo VM ready"; do
    #       echo "Waiting for VM..."
    #       sleep 10
    #     done

    # - name: Install Jenkins, Docker, SonarQube
    #   run: |
    #     gcloud compute ssh $VM_NAME --zone=$VM_ZONE --command "
    #       sudo apt install openjdk-11-jre -y &&
    #       sudo apt-get -t bookworm-backports install openjdk-11-jre -y &&
    #       sudo wget -O /usr/share/keyrings/jenkins-keyring.asc https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key &&
    #       echo 'deb [signed-by=/usr/share/keyrings/jenkins-keyring.asc] https://pkg.jenkins.io/debian-stable binary/' | sudo tee /etc/apt/sources.list.d/jenkins.list > /dev/null &&
    #       sudo apt-get update &&
    #       sudo apt-get install jenkins -y &&
    #       sudo apt-get install ca-certificates curl -y &&
    #       sudo install -m 0755 -d /etc/apt/keyrings &&
    #       sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc &&
    #       sudo chmod a+r /etc/apt/keyrings/docker.asc &&
    #       echo 'deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/debian $(. /etc/os-release && echo \"$VERSION_CODENAME\") stable' | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null &&
    #       sudo apt-get update &&
    #       sudo apt-get install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin -y &&
    #       sudo groupadd docker || true &&
    #       sudo usermod -aG docker \$USER &&
    #       gcloud compute firewall-rules create allow-sonarqube-9000 --allow tcp:9000 --target-tags=sonarqube --description='Allow SonarQube traffic on port 9000'
    #     "
        